.App {
  text-align: center;
  background: url("../public/backgroundimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
/* 
.display {
  width:500px;
  height:500px;
  margin:0 auto;
 } */

/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

